{
  "printwidth": 400,
  "semi": true,
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "experimentalOperatorPosition": "end",
  "objectWrap": "collapse"
}
