{
  "printwidth": 900,
  "semi": true,
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "experimentalOperatorPosition": "end",
  "objectWrap": "preserve"
}
