:root {
  --danger: #f54343;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", "Vazir";
  background-color: black;
  color: white;
  padding-top: 100px;
}

* {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px;
  transition: all 250ms ease-in-out;
  font-size: 18px;
  font-weight: 800;
  outline: 8px solid #ffffff8c;
  background-color: black;
  color: white;

  &:active {
    scale: 0.90;
  }
}

button:active {
  scale: 0.98;
}

table {
  outline: 8px solid #29292986;
  padding: 8px;
  background-color: #303030;
  border-radius: 8px;
  margin: 32px auto;
  border-spacing: 8px;
  direction: rtl;
}

tr {
  margin: 4px;
}

td,
th {
  outline: 3px solid #ffffff30;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
}

th {
  background-color: white;
  color: black;
}

input {
  background-color: #303030;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;

  &[type="text"],
  &[type="password"],
  &[type="email"] {
    width: 100%;
  }
}

.fav {
  transform: translateY(3px);
  margin: 4px;
}

textarea {
  padding: 8px 12px;
  outline: none;
  background-color: #303030;
  color: white;
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  resize: none;
}

select {
  background-color: #202020;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 8px;

  &::-webkit-keygen-select {
    color: red;
  }
}

.gradient {
  width: 300px;
  height: 300px;
  margin: 32px auto;
  border-radius: 24px;
  background: linear-gradient(to bottom right,
      #610909 20%,
      #8a631a,
      #10265b 70%);
  outline: 12px solid #ffffff30;
}

.inner__section {
  width: calc(100% - 128px);
  padding: calc(20px / 2);
  margin: 64px;
  max-width: 100%;
}

.calc {
  height: auto;
  outline: 12px solid #ffffff30;
  background: linear-gradient(-45deg, #72c4e5 10%, #ede5ed, #e551ae);
  border-radius: 24px;
  margin: 32px auto;
  display: grid;
  place-items: center;
  font-size: calc(6vw - 10%);
  font-weight: bold;
  text-shadow: 3px 3px 10px black;
  white-space: pre-wrap;
  text-align: center;
}

.bg__overlay {
  position: relative;
  background: url(/images/mountain.jpg) center/cover no-repeat;
  height: 400px;
  border-radius: 24px;
  outline: 12px solid #ffffff30;
  cursor: pointer;
  border-radius: 24px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #00000095;
  opacity: 1;
  transition: all 500ms ease-in-out;
  border-radius: 24px;
}

.left__side {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: 6px solid rgba(255, 255, 255, 0.316);
  width: 100px;
  height: 100px;
  border-right: 0;
  border-top: 0;
  border-radius: 0 0 0 24px;
}

.right__side {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 6px solid rgba(255, 255, 255, 0.316);
  width: 100px;
  height: 100px;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 24px 0 0;
}

.bg__overlay:hover {
  .overlay {
    opacity: 0;
  }
}

.query__box {
  width: 300px;
  height: 300px;
  margin: 0 auto 32px auto;
  border-radius: 24px;
  outline: 10px solid #ffffff30;
  background: linear-gradient(to bottom right, #84f2f6, #8afac6, #f4629f 80%);
  transition: all 500ms ease;
}

.query__box:hover {
  /* // transform: translate3d(30px , 50px , 100px); */
  transform: rotateX(15deg) rotateY(10deg) rotateZ(45deg);
  /* // transform: scale(1.15);1100 */
}

.pseudo {
  max-width: 100%;

  padding: 8px 16px;
  border-radius: 24px;
  margin: 16px auto;
  width: 500px;
  text-align: justify;
  border: 3px solid #ffffff30;

  small {
    white-space: normal;
    display: block;
    text-align: justify;
    line-height: 1.95;
    margin-bottom: 16px;

    &::first-letter {
      color: var(--danger);
      font-size: 3rem;
      display: block;
      padding: 4px;
    }
  }
}

.pseudo input::file-selector-button {
  background-color: rgba(60, 160, 237, 0.911);
  border: none;
  padding: 8px 16px;
  border-radius: 32px;
  color: white;
}

.contextMenu {
  border: 2px solid #dfdfdf;
  padding: 8px 16px;
  border-radius: 12px;
  width: 200px;
  height: 300px;
  background-color: #202020;
  box-shadow: 0px 0px 10px #dfdfdf30;
  position: absolute;
  opacity: 0;
  transition: opacity 200ms ease;
  display: flex;
  flex-direction: column;

  .context__btn {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px 4px;
    color: white;
    font-family: "JetBrains Mono";
    font-size: 16px;
    text-align: start;
    margin-block: 8px;
    transition: all 300ms ease;
    border-radius: 4px;
    font-weight: bolder;

    &:hover {
      background-color: #a5a0a0;
      color: black;
    }
  }
}

.sticky__navbar {
  width: 100%;
  margin-inline: auto;
  background-color: #ffffff30;
  backdrop-filter: blur(30px);
  mix-blend-mode: difference;
  border-radius: 0;
  padding: 16px 32px;
  position: fixed;
  top: 0;
  left: 50%;
  font-size: 32px;
  transform: translateX(-50%);
  font-weight: 700;
  text-align: center;
  z-index: 100;
  transition: all 400ms ease-in-out;
  border: 1px solid #3f3e3e;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 24px;

    li {
      padding: 8px 16px;
      transition: all 300ms ease;
      cursor: pointer;
      border-radius: 24px;

      &:hover {
        background-color: #cfcdcd;
        color: black;
      }
    }

    .red {
      color: var(--danger);
    }
  }

  &.scrolled {
    width: 90%;
    border-radius: 1000px;
    top: 16px;
  }
}

.goUpBtn {
  background-color: orange;
  font-size: 24px;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  font-weight: bolder;
  position: fixed;
  left: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: white;
  }
}

.button__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.play__btn {
  margin: 32px auto;
  border: none;
  background-color: cornflowerblue;
  padding: 24px;
  border-radius: 200px;
  transition: all 400ms ease;

  &:hover {
    background-color: rgb(58, 99, 177);
  }

  i {
    font-size: 32px;
    color: white;
  }

  .pause {
    display: none;
  }
}

/*//^ DRAG AND DROP ============================================================================================*/
.todos__title {
  width: 90%;
  margin: 24px auto;
  font-weight: 800;
}

.draggables {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  outline: 10px solid #ffffff20;
  width: 90%;
  margin: auto;
  border-radius: 24px;
  height: auto;
  position: relative;
  height: 200px;
}

.draggable {
  outline: 7px solid #dfdfdf50;
  font-size: 20px;
  font-weight: 800;
  width: fit-content;
  padding: 16px 32px;
  border-radius: 16px;
  height: fit-content;

  &.blue {
    background-color: cornflowerblue;
  }

  &.purple {
    background-color: rgb(196, 42, 196);
  }

  &.red {
    background-color: rgb(202, 27, 27);
  }
}

.dropBox {
  width: 90%;
  margin: 32px auto;
  outline: 10px solid #ffffff20;
  height: 900px;
  border-radius: 16px;
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &::before {
    content: "DROP HERE";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    font-size: 64px;
    color: #ffffff30;
  }
}

.dragging {
  opacity: 0.3;
  cursor: grabbing;
  border: 6px dashed #fff;
}

.all__tasks__done {
  font-weight: 800;
  font-size: 48px;
  opacity: 0.2;
  text-decoration: underline;
  text-decoration-color: #8afac6;
  text-decoration-thickness: 10px;
}

.sliders___wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: 10px solid #dfdfdf40;
  width: 90%;
  margin: 32px auto;
  border-radius: 20px;
  justify-items: center;
  align-items: center;
  height: 800px;

  .images___wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    place-items: center;

    .slide {
      grid-area: 1/1/1/1;
      opacity: 0;
      transition: opacity 400ms ease-in-out;
      object-fit: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;
      padding-block: 16px;

      img {
        width: 50%;
        height: 50%;
        border-radius: 30px;
        overflow: hidden;
        outline: 10px solid rgba(145, 145, 145, 0.534);
      }

      &.active {
        opacity: 1;
      }
    }
  }

  .buttons__wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32px;

    .nav__btn {
      width: 68px;
      height: 68px;
      border-radius: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      transition: background-color 200ms ease;
      border: none;
      outline: none;

      &:hover {
        background-color: #202020;
        color: white;

        i {
          color: white;
        }
      }

      i {
        color: black;
        font-size: 32px;
      }
    }
  }
}

.toast {
  position: fixed;
  top: 32px;
  right: -400px;
  padding: 32px;
  border-radius: 12px;
  border-bottom: 9px solid rgb(255, 255, 255);
  z-index: 200;
  background-color: rgb(19, 18, 18);
  width: 400px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 24px;
  transition: all 500ms ease;


  &.success {
    border-color: #0feb84;
  }

  &.error {
    border-color: var(--danger);
  }

  .mode {
    display: none;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 800;

    i {
      font-size: 36px;
      transform: translateY(3px);
    }

    &.success__mode {
      i {
        color: #0feb84;
      }
    }

    &.error__mode {
      i {
        color: var(--danger);
      }
    }
  }

  &.show {
    right: 32px
  }
}

.toast__btn__wrapper {
  display: flex;
  justify-content: center;
  padding-block: 64px;
}

.toast__btn {
  margin-inline: auto;
}

/*//^ RESPONSIVE ============================================================================================ */
@media (max-width: 768px) {
  .query__box {
    width: 200px;
    height: 200px;
    border-radius: 16px;
  }
}