html {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", "Vazir";
  background-color: black;
  color: white;
}

* {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

table {
  outline: 8px solid #29292986;
  padding: 8px;
  background-color: #303030;
  border-radius: 8px;
  margin: 32px auto;
  border-spacing: 8px;

  direction: rtl;
}

tr {
  margin: 4px;
}

td,
th {
  outline: 3px solid #ffffff30;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
}

th {
  background-color: white;
  color: black;
}

input {
  background-color: #303030;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;

  &[type='text'],
  &[type='password'],
  &[type='email'] {
    width: 100%;
  }
}

.fav {
  transform: translateY(3px);
  margin: 4px;
}

textarea {
  padding: 8px 12px;
  outline: none;
  background-color: #303030;
  color: white;
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  resize: none;
}

select {
  background-color: #202020;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 8px;

  &::-webkit-keygen-select {
    color: red;
  }
}